* {
  margin: 5px;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  color: #ffff;
  font-weight: lighter;
  font-size: 28px;
  font-family: Trebuchet, Lucida, Lucida, Arial, sans-serif;
  text-shadow: 0 0 10px rgba(0, 0, 0, 1);
}

}
body {
  color: #080883;
  background-color: #fff;
}
/*about me section*/
.content {
  font-size: 24px;
  font-family: Trebuchet, Lucida, Lucida, Arial, sans-serif;
  margin-left: 5px;
  background: #e0e5f5;
  color: #080883;
  width: 99%;
  border-style: ridge;
  border-color: #080883;
  border-width: 5px;
  padding: 5px;
  flex-wrap: wrap;
  justify-content: space-around;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}


/*main section*/
.main-area {
  font-family: Trebuchet, Lucida, Lucida, Arial, sans-serif;
  background-color: #e0e5f5;
  color: #080883;
  display: flex;
  align-items: center;
  line-height: 1.6;
}
header img {
  height: 205px;
  width: 200px;
  display: inline-block;
  margin-left: auto;
  margin-right: 30px;
  padding-right: 20px;
}

.float-left {
  float: left;
  margin-right: 25px;
}

/* Header/hero Section & Nav. Buttons Start*/
header {
  background-image: url("../images/hero-img2.jpg");
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 20px 35px;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-position: 80%;
 
}

header nav {
  margin: 7px 0;
}
header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

header nav ul li a {
  color: #ffff;
  padding: 5px 10px;
  font-weight: bold;
  font-size: 1.55vw;
  font-family: Trebuchet, Lucida, Lucida, Arial, sans-serif;
}
header nav ul li a:hover {
  background: #ffff;
  color: #080883;
  border-radius: 15px;
  text-shadow: none;
}

/*cards section*/
.cards {
  background-color: #e0e5f5;
  border-color: #080883;
  border-style: solid;
  border-width: 5px;
  border-radius: 10px;
  padding: 10px;
  flex: 0 0 200px;
  flex-grow: 1;
  justify-content: space-evenly;


}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
}

.cards:hover.overlay {
  opacity: 1;

}
.text-link {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
.cards h2 {
  text-align: center;
  background-color: #080883;
  color:#fff
  
}
.cards img {
  display: block;
  width: 100%;
  height: auto;
  display: inline-block;
  margin-left: auto;
  margin-right: 30px;
  padding-right: 20px;
  image-resolution: initial;
}

.cards p {
  padding: 30px;
  text-align: center;
  color: #080883;
  font-weight: bold;
  font-size: 20px;
  line-height: 1.6;
  font-family: Trebuchet, Lucida, Lucida, Arial, sans-serif;

}
.work-links {
  flex: 4;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-family: Trebuchet, Lucida, Lucida, Arial, sans-serif;

}



.fun-title {
  color: #ffff;
  padding: 5px 10px;
  font-weight: lighter;
  font-size: 30px;
  justify-content: space-around;
  font-family: Trebuchet, Lucida, Lucida, Arial, sans-serif;
}

.footer {
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  background:  #e0e5f5;
  color: #080883;
  width: 99%;
  border-style: ridge;
  border-color: #080883;
  border-width: 5px;
  padding: 5px;
  flex-wrap: wrap;
  justify-content: space-around;
}
.footer h2 {
  color: #080883;
  margin: 20px;
  font-size: 36px;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.footer div ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
