* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  color: #ffff;
  font-weight: li;
  font-size: 42px;
  text-shadow: 0 0 10px rgba(0, 0, 0, 1);
}

body {
  color: #080883;
  font-family: Helvetica, Arial, sans-serif;
}
/* Hero Section & Nav. Buttons Start*/
header {
  background-image: url("../images/hero-img2.jpg");
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 30px 35px;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-position: 80%;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

header nav {
  margin: 7px 0;
}
header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

header nav ul li a {
  color: #ffff;
  padding: 5px 10px;
  font-weight: lighter;
  font-size: 1.55vw;
}
header nav ul li a:hover {
  background: #ffff;
  color: #080883;
  border-radius: 15px;
  text-shadow: none;
}

/*footer starts here*/
.footer {
  padding: 30px;
  font-size: 18px;
  font-family: Trebuchet, Lucida, Lucida, Arial, sans-serif;
  text-align: center;
}
.footer h2 {
  color: #080883;
  text-decoration: underline;
  margin: 20px;
  font-size: 30px;
}

/*randomness*/
.box {
  width: 350px;
  height: 150px;
  margin: 10px;
  padding: 25px;
  border: 5px solid black;
}
